In [211]:
# Import necessary modules and functions

import csv
import pandas as pd
import seaborn as sns
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 16, 8

from scipy.stats import norm
from scipy import stats

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

import warnings
warnings.filterwarnings('ignore')

In [212]:
KSTrain = pd.read_csv(r'C:\Users\umars\Desktop\DataScience\KStrain.csv')

In [213]:
KSTest = pd.read_csv(r'C:\Users\umars\Desktop\DataScience\KStest.csv', delimiter=';')

In [214]:
#dropping the null entries in the training data
indexNames = KSTrain[KSTrain['country'].isnull()].index
KSTrain.drop(indexNames , inplace=True)

In [215]:
from sklearn.preprocessing import LabelEncoder

In [216]:
KSTrain['delta_time_created'] = KSTrain.deadline - KSTrain.created_at
KSTrain['delta_time_launched'] = KSTrain.deadline - KSTrain.launched_at

In [217]:
KSTrain['goal_converted_log'] = np.log(KSTrain.goal * KSTrain.fx_rate)
KSTrain['goal_per_day'] = KSTrain['goal_converted_log'] / KSTrain['delta_time_launched']
KSTrain.drop(['goal_converted_log'], axis = 'columns', inplace = True)

In [218]:
KSTrain.drop(['backers_count','blurb','name','project_url','reward_url'], axis = 'columns',  inplace=True)

In [219]:
#create an encoder for each of the string columns
#PS: ML algorithms doesn't work with string values
le_category = LabelEncoder()
le_country = LabelEncoder()
le_currency = LabelEncoder()
le_location = LabelEncoder()
le_subcategory = LabelEncoder()

In [220]:
#creates columns with numeric for the following attitudes and includes it in the input dataSet 
KSTrain['category_n'] = le_category.fit_transform(KSTrain['category'])
KSTrain['country_n'] = le_country.fit_transform(KSTrain['country'])
KSTrain['currency_n'] = le_currency.fit_transform(KSTrain['currency'])
KSTrain['location_n'] = le_location.fit_transform(KSTrain['location'])
KSTrain['subcategory_n'] = le_subcategory.fit_transform(KSTrain['subcategory'])

In [221]:
#drop the columns with string values
#because they are already added as numeric values columns
KSTrain.drop(['category','country','currency','location', 'subcategory'], axis='columns', inplace = True)

In [222]:
#dropping columns that aren't in the test data
KSTrain.drop(['converted_pledged_amount','pledged','usd_pledged'], axis ='columns', inplace = True)

In [223]:
KSTrain.head(1)

,project_id,created_at,deadline,fx_rate,goal,launched_at,staff_pick,funded,delta_time_created,delta_time_launched,goal_per_day,category_n,country_n,currency_n,location_n,subcategory_n
0,KS_000000,1325980505,1334866560,1.0,2800.0,1332969260,False,True,8886055,1897300,0.000004,0,162,13,6905,86

In [224]:
#forgot this one..
#Now the dataframe is good to go
KSTrain.drop(['project_id'], axis='columns', inplace = True)

In [225]:
x = KSTrain.drop(['funded'], axis = 1)
y = KSTrain['funded']

In [226]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.20)

In [227]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()

In [228]:
classifier.fit(X_train, y_train)

DecisionTreeClassifier()

In [229]:
classifier.score(X_test, y_test)

0.7504

In [230]:
array1 = np.array(y_test)
array2 = np.array(classifier.predict(X_test))

In [231]:
c = (array1 == array2)
c.shape

(20000,)

In [232]:
# X is false prediction counter counter
counter = 0 
for i in c:
    if(i == False):
        counter = counter+1
print (counter)

4992

In [233]:
#dropping the null entries in the training data
indexNames = KSTest[KSTest['country'].isnull()].index
KSTest.drop(indexNames , inplace=True)

In [234]:
#starting to fix the Test data
KSTest['category_n'] = le_category.fit_transform(KSTest['category'])
KSTest['country_n'] = le_country.fit_transform(KSTest['country'])
KSTest['currency_n'] = le_currency.fit_transform(KSTest['currency'])
KSTest['location_n'] = le_location.fit_transform(KSTest['location'])
KSTest['subcategory_n'] = le_subcategory.fit_transform(KSTest['subcategory'])
KSTest.head(2)

,project_id,blurb,category,country,created_at,currency,deadline,fx_rate,goal,launched_at,...,staff_pick,location,subcategory,project_url,reward_url,category_n,country_n,currency_n,location_n,subcategory_n
0,KS_100000,We are looking to bring a Visiting Sculptor fr...,art,US,1330727362,USD,1334959598,1.0,3900.0,1332972398,...,False,"Bakersfield, CA",art,https://www.kickstarter.com/projects/153685020...,https://www.kickstarter.com/projects/153685020...,0,162,13,421,10
1,KS_100001,Surrealistic oil paintings capturing the metam...,art,US,1332598567,USD,1334635140,1.0,750.0,1332975679,...,False,"Lowell, MA",painting,https://www.kickstarter.com/projects/203971390...,https://www.kickstarter.com/projects/203971390...,0,162,13,4522,95

In [237]:
KSTest['delta_time_created'] = KSTest.deadline - KSTest.created_at
KSTest['delta_time_launched'] = KSTest.deadline - KSTest.launched_at

In [238]:
KSTest['goal_converted_log'] = np.log(KSTest.goal * KSTest.fx_rate)
KSTest['goal_per_day'] = KSTest['goal_converted_log'] / KSTest['delta_time_launched']
KSTest.drop(['goal_converted_log'], axis = 'columns', inplace = True)

In [240]:
KSTest.head(1)

,project_id,blurb,category,country,created_at,currency,deadline,fx_rate,goal,launched_at,...,project_url,reward_url,category_n,country_n,currency_n,location_n,subcategory_n,delta_time_created,delta_time_launched,goal_per_day
0,KS_100000,We are looking to bring a Visiting Sculptor fr...,art,US,1330727362,USD,1334959598,1.0,3900.0,1332972398,...,https://www.kickstarter.com/projects/153685020...,https://www.kickstarter.com/projects/153685020...,0,162,13,421,10,4232236,1987200,0.000004